.footer {
  background: #666666;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 40px;
}

.footer-info p {
  margin: 5px 0;
}

/* Enlaces en general */
.footer a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #0056b3;
}

/* Estilos para los iconos sociales */
.footer-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social a {
  color: #fff;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #007BFF;
}