* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Galano Grotesque Alt', Arial, sans-serif;
  scroll-behavior: smooth;
  color: #333;
}

.app {
  padding-top: 70px;
}